# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.so
.Python

# Virtual env.
.venv/
venv/
env/
ENV/

# PyTorch models
*.pt
*.pth
*.ckpt

# Predictions et accuracy files
*.pred
*.acc
predictions/*.conllu

# LaTeX
*.aux
*.log
*.out
*.synctex.gz

# Logs
logs/
*.log

# Outputs temporaires
outputs/*.npy
outputs/*.png

# Checkpoints (garder les meilleurs seulement)
# checkpoints/

# Optuna database
optuna_study.db
optuna_study.db-journal

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db


tp1/
tp2/
tp3/
tp4/
tp5/

tmp/
enonce/

enonce/*
*.ipynb
*.md
*.html


# peft_adapter/*
# models/*
# outputs/*